<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seoul.juminprogram"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/seoul_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.seoul.juminprogram.IntroActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seoul.juminprogram.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_favorite"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_map_program"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_map_tabhost"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_map"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_program"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_program_tabhost"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_program_click"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.seoul.juminprogram.tab_notice"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>